@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color:#666;
	font-size: 14px;
}
input{
	/*去掉灰色边框*/
	border:0;
}
.style-red{
	color:#c81623;
}
.header{
	position: relative;
	height: 105px;
	background :#F42024;
}
.header img{
	position:absolute;
	width: 350px;
	height: 101px;
	top:2px;
}
.search{
	position: absolute;
	left: 400px;
	top:35px;
	width: 538px;
	height: 36px;
}
.search input{
	float:left;
	width: 455px;
	height: 35px;
	padding-left: 10px;
}
.nav{
	height: 47px;
	width: 1200px;
	border-bottom:2px solid #cf1010;
	background-color: #ee9ebd;
	margin:0 auto;
}
.nav .dropdown{
	float: left;
	width: 210px;
	height: 46px;
	background-color: #991361;
}
.dropdown .dt{
	height: 100%;
	width: 100%;
	color:#fff;
	text-align: center;
	line-height: 46px;
}
.dropdown .dd{
	
	width: 210px;
	height: 397px;
	background-color: #b30d7b50;
	margin-top: 3px;
}
.dropdown .dd ul li{
	height: 79px;
	line-height: 36px;
	padding-left: 70px;
    padding-top: 20px;
}
.dropdown .dd ul li:hover{
	background-color: #fff;
}
.dropdown .dd ul li:hover a{
	color:  #f01010;
}
.dropdown .dd ul li a{
	font-size: 16px;
	color:#fff;
}
.dropdown span{
	float:right;
	margin-right: 10px;
}
.nav .navitems{
	float: right;
}
.navitems ul li{
    padding-left: 100px;
    padding-right: 250px;
    width: 100px;
	float: left;
}
.navitems ul li:hover a{
	color:#eee;
}
.navitems ul li a{
	display: block;
    width: 80px;
	height: 45px;
	line-height: 45px;
	font-size: 17px;
}
/*底部模块*/
.footer{
	height: 330px;
	background-color:#b30d7b50;
	padding-top:30px;
	width: 1200px;
	margin: 0 auto;
}
.footer .service1{
	height: 80px;
	border-bottom: 1px solid #b30d7b50;
}
.footer .service1 ul li{
	float:left;
	width: 300px;
	height: 50px;
	padding-left: 0px;
	
}
.footer .service1 ul li h5{
	float:left;
	line-height: 50px;
	font-size: 16px;
	
}
.footer .service1 ul li img{
	float:left;
	height: 50px;
	width: 50px;
	margin-left: 30px;
}
.service2{
	height: 135px;
	border-bottom: 1px solid #b30d7b50;
	padding-top: 25px;
	padding-left: 60px;
}
.service2  dt{
	font-size: 16px;
	margin-bottom: 20px;
}
.service2 dl{
	float:left;
	width: 228px;
}
.service2  dl:last-child img{
	width: 80px;
	height: 80px;
	
}
.service2  dl:last-child dt{
	margin-bottom: 0px;
}
.service3{
	text-align: center;
	padding-top: 15px;
	color:#666;
}
.service3 .links{
	color:#666;
	margin-bottom: 10px;
}
/* CSS Document */
.main{
	width: 980px;
	height: 397px;

	margin-left:220px;
}
.focus{
	float:right;
	width: 958px;
	height: 397px;
	background-color: rgba(238, 180, 212, 0.178);
}
.focus img{
	width: 958px;
	height: 397px;
}
.bargin{
	margin-top: 4px;
}
.bargin img{
	height: 138px;
	width: 250px;
}
/*推荐模块*/
.show{
	height: 163px;
	width: 1200px;
	background-color: #920b6550;
	margin-top: 12px;
	margin:0 auto;
}
.show .show1 {
	float: left;
	height: 163px;
	width: 205px;
	
}
.show1 img{
	height: 163px;
	width: 205px;
}
.show2 ul li{
	float:right;
	height: 163px;
	width: 247px;
	border-right: 1px solid #A7A7A7;
	
}
.show2 img{
	height: 110px;
	padding-left: 60px;
	padding-top: 10px;
}
.show2 h3{
	margin-top: 10px;
	margin-left: 80px;
	
	
}
.photo{
    width: 958px;
    height: 397px;
    float:right;
    position: relative;
    background: #b30d7b50;
}
.photo input{
    display: none;
}
.image{
    float:right;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 958px;
    height: 397px;
    transform: scale(0);
    opacity: 0;
    transition: all 0.7s;
}
.nav1 label{
    width: 958px;
    height: 397px;
    position: absolute;
    z-index: 10;
    opacity: 0;
    display: none;
    cursor: pointer;
    transition: opacity 0.2s;
    color: transparent;
}

.image:hover + .nav1 label{
    opacity: 0.5;
}
.nav1 label:hover{
    opacity: 1;
}
.nav1 .down{
    right: 0;
}
input:checked + .control .image{
    opacity: 1;
    transform: scale(1);
    transition: all 1s;
}
input:checked + .control .nav1 label{
    display: block;
}
.dots{
    width:100%;
    height: 20px;
    position: absolute;
    bottom: 30px;
    text-align: center;
}
.dot{
    width: 10px;
    height: 10px;
    margin: 0px 5px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    background: rgba(0,0,0,0.3);
}
input#img1:checked ~ .dots label#dot1,
input#img2:checked ~ .dots label#dot2,
input#img3:checked ~ .dots label#dot3,
input#img4:checked ~ .dots label#dot4,
input#img5:checked ~ .dots label#dot5,
input#img6:checked ~ .dots label#dot6{
    background: rgba(0,0,0,0.7);
}
#dh{
    z-index: 99999;
    float: left;
    position: relative;
    margin-top: 0px;
    width: 958px;
    height:47px;
    border: 0px;
    background-color: #ee9ebd;
}
#dh ul{
    padding: 0px;
    
}
#dh a{
    color: #FFF;
    width: 400px;
    height: 40px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 12px;
    font-size: 18px;
    font-weight: 2px;
}
#dh ul li {
    list-style: none;
    float: left;
}
#dh ul li a:hover{
    background-color: #ee9ebd;
}
#dh ul:hover{
    display: block;
}
#dh ul li ul{
    background-color: #eeb4d6;
    position: absolute;
    display: none;
}
#dh ul li ul li{
    float: none;
    background-color: #eeb4d6;
    
}
#dh ul li ul li a{
	height: 20px;
    font-size: 13px;
    font-weight: 0px;
}
#dh ul li:hover ul{             /*二级菜单的触发点*/
    display: block;
}